<!DOCTYPE html>
<html lang="en" xmlns:margin-left="http://www.w3.org/1999/xhtml" xmlns:font-size="http://www.w3.org/1999/xhtml"
      xmlns:margin-bottom="http://www.w3.org/1999/xhtml" xmlns:margin-top="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>titular</title>
</head>
<body>
<h3 align="center">Міністерство освіти і науки України<br>
    Чернівецький національний університет імені Юрія Федьковича<br>
    Інститут фізико-технічних та комп’ютерних наук<br>
    Кафедра програмного забезпечення комп’ютерних систем<br>
</h3>
<br><br>
<h1 align="center">
    Створення потокового відео сервісу з системою<br>
    рекомендацій контенту
</h1>

<h2 align="center">
    КУРСОВА РОБОТА<br>
    Рівень вищої освіти – перший (бакалаврський)
</h2>
<br><br>
<p align="center" style= margin-left:30%; font-size:18px>
    Виконав (ла): студент (ка) 2 курсу,<br> групи 243(ск) спеціальності<br>
    <u>121 – Інженерія програмного забезпечення</u><br>
    <sup>(шифр – назва спеціальності)</sup><br>
    <u> name </u><br>
    <sup>(прізвище, ім’я, по-батькові студента)</sup><br>
    Керівникt<u>Прохоров Г. В.</u><br>
    <sup> (підпис)  (прізвище та ініціали)</sup><br>
</p>
<br>
<p style= margin-left:27%; margin-bottom:0%; font-size:18px>
    Нормоконтролер_____________________<br></p>
<p style=   margin-left:33%; margin-top:0%; font-size:18px>
    <sup>(підпис)(прізвище та ініціали)</sup> </p>
</p>
<h3 style= margin-left:27%>
    До захисту допущено:<br>
    Протокол засідання кафедри №___<br>
</h3>
<p style= margin-left:27%; font-size:18px>
    від „___”______2020 р.<br>
    зав. кафедри ____________проф. Остапов С.Е.

</p >

<h4 align="center">
    Чернівці – 2020
</h4>;
</body>
</html>